In [3]:
import pandas as pd

In [11]:
df = pd.read_csv(r"C:\Users\José Lucas\Desktop\Repositórios GitHub\persons-per-family\raw\Levantamento_de_Moradore.csv")

In [13]:
df.shape

(24, 3)

In [16]:
df.head()

,Carimbo de data/hora,Quantas pessoas moram na sua casa? (Contando com você),Qual estado você mora?
0,23/08/2025 13:48:14,3,Rio de Janeiro
1,23/08/2025 13:50:19,2,Rio de Janeiro
2,23/08/2025 13:55:08,1,Rio de janeiro
3,23/08/2025 14:03:45,3,Rio de janeiro
4,23/08/2025 14:08:28,3,RJ

In [17]:
#Essa variavel recebe todos os valores de integrantes da família
coluna_pessoas = "Quantas pessoas moram na sua casa? (Contando com você)"

resultado = df[coluna_pessoas].value_counts().sort_index()

In [18]:
print(resultado)

Quantas pessoas moram na sua casa? (Contando com você)
1      2
2      5
3     10
4      4
5      1
6      1
21     1
Name: count, dtype: int64

In [ ]:
resultado.plot(kind="bar", xlabel="Número de pessoas", ylabel="Quantidade de famílias", title="Distribuição de famílias por número de pessoas")